{:maven {:local-repo ".m2/repository"}

 ;; let tools.deps manage dependencies in deps.edn
 :deps {:aliases [:frontend]}

 :builds
 {:frontend {:target :browser
             :output-dir "public/app/js"
             :asset-path "/app/js"
             :modules {:main {:init-fn example.frontend.app/run}}}}}
